---
import Layout from '../layouts/Layout.astro';
import HeroSection4 from "../components/HeroSection4.astro";
import Loading from "../components/Loading.astro";
---

<Layout title="Finance Automation - Transforming Your Business, One Smart Step at a Time">
    <Loading></Loading>
	<main class="space-y-40 mb-40">
		<HeroSection4></HeroSection4>
	</main>
</Layout>