---
import Layout from '../layouts/Layout.astro';
import HeroSection4 from "../components/HeroSection4.astro";
import Loading from "../components/Loading.astro";

const title = "Finance Automation - Account Payable Automation";
---

<Layout title={title}>
	<main class="space-y-40 mb-40">
		<HeroSection4></HeroSection4>
	</main>
</Layout>