---
import LayoutCU from '../layouts/LayoutCU.astro';
import Form from "../components/Form.astro";
import Loading from "../components/Loading.astro";
---

<LayoutCU title="Finance Automation - Transforming Your Business, One Smart Step at a Time">
	<main class="space-y-40 mb-40">
		<Form></Form>
	</main>
</LayoutCU>