---
import Layout from '../layouts/Layout.astro';
import HeroSection3 from "../components/HeroSection3.astro";
import Loading from "../components/Loading.astro";

const title = "Finance Automation - All about Finance Automation";
---

<Layout title={title}>
	<main class="space-y-40 mb-40">
		<HeroSection3></HeroSection3>
	</main>
</Layout>