---
import Container from "./Container.astro";

---

<footer class="py-20 md:py-40">
    <Container>
      <div class="m-auto md:w-10/12 lg:w-8/12 xl:w-6/12">
        <div class="flex flex-wrap items-center justify-between md:flex-nowrap">
          <div
            class="flex w-full justify-center space-x-12 text-gray-600 dark:text-gray-300 sm:w-7/12 md:justify-start"
          >
  
            <ul role="list" class="space-y-8">
              <li>
                <a href="#" class="flex items-center space-x-3 transition hover:text-primary">
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    fill="currentColor"
                    class="w-5"
                    viewBox="0 0 16 16"
                  >
                    <path
                      d="M9.025 8c0 2.485-2.02 4.5-4.513 4.5A4.506 4.506 0 0 1 0 8c0-2.486 2.02-4.5 4.512-4.5A4.506 4.506 0 0 1 9.025 8zm4.95 0c0 2.34-1.01 4.236-2.256 4.236-1.246 0-2.256-1.897-2.256-4.236 0-2.34 1.01-4.236 2.256-4.236 1.246 0 2.256 1.897 2.256 4.236zM16 8c0 2.096-.355 3.795-.794 3.795-.438 0-.793-1.7-.793-3.795 0-2.096.355-3.795.794-3.795.438 0 .793 1.699.793 3.795z"
                    />
                  </svg>
                  <span>Medium</span>
                </a>
              </li>
            </ul>
          </div>
          <div
            class="m-auto mt-16 w-10/12 space-y-6 text-center sm:mt-auto sm:w-5/12 sm:text-left"
          >
            <span class="block text-gray-500 dark:text-gray-400"
              >Transforming Your Business, One Smart Step at a Time</span
            >
  
            <span class="block text-gray-500 dark:text-gray-400">financeautomation.id &copy; <span id="year"></span></span>
  
            <span class="block text-gray-500 dark:text-gray-400"
              >Need help? <a href="/contactus" class="font-semibold text-blue-600"> Contact Us</a></span
            >
          </div>
        </div>
      </div>
    </Container>
</footer>