---
import Container from "./Container.astro";
---

<div class="relative" id="home">
    <div
        aria-hidden="true"
        class="absolute inset-0 grid grid-cols-2 -space-x-52 opacity-40 dark:opacity-20"
    >
        <div
            class="blur-[106px] h-56 bg-gradient-to-br from-blue-600 to-blue-400"
        >
        </div>
        <div
            class="blur-[106px] h-32 bg-gradient-to-r from-cyan-400 to-sky-300"
        >
        </div>
    </div>
    <Container>
        <div class="relative pt-36">
            <div class="lg:ext-left mx-auto">
                <h1
                    class="text-white font-bold text-5xl md:text-6xl xl:text-7xl mb-10"
                >
                    More About Finance Automation
                </h1>
                <hr class="mb-10" />
            </div>
            <div class="lg:ext-left mx-auto">
                <h1 class="text-white font-bold text-4xl mb-6">
                    What is Finance Automation?
                </h1>
                <h1
                    class="text-white font-normal text-lg md:text-xl xl:text-xl mb-10 tracking-wide"
                >
                    Finance automation is revolutionizing the way businesses
                    manage their financial processes. Leveraging technologies
                    like artificial intelligence and machine learning, financial
                    automation processes can eliminate manual tasks, streamline
                    operations and maximize productivity. This allows finance
                    teams to focus on more critical functions such as financial
                    planning and analysis. Key areas that benefit from
                    automation in finance include accounts payable, accounts
                    receivable cycle, spend management, and financial reporting
                    among others.
                </h1>
                <hr class="mb-10" />
            </div>
            <div  class="lg:ext-left mx-auto">
                <h1 class="text-white font-bold text-4xl mb-6">
                    How to set up finance automation in your organization?
                </h1>
                <div data-aos="fade-up"
                data-aos-duration="700" class="flex mb-6 h-max items-center">
                    <span
                        class="material-symbols-outlined text-blue-600 text-6xl"
                    >
                        add_task
                    </span>
                    <h1
                        class="text-white ml-6 font-normal text-2xl md:text-xl xl:text-3xl tracking-wide"
                    >
                        Conduct a thorough assessment of current financial
                        ecosystem
                    </h1>
                </div>
                <div data-aos="fade-up"
                data-aos-duration="700" class="flex mb-6 h-max items-center">
                    <span
                        class="material-symbols-outlined text-blue-600 text-6xl"
                    >
                        add_task
                    </span>
                    <h1
                        class="text-white ml-6 font-normal text-2xl md:text-xl xl:text-3xl tracking-wide"
                    >
                        Identify your business’ needs, challenges and goals from
                        financial automation
                    </h1>
                </div>
                <div data-aos="fade-up"
                data-aos-duration="700" class="flex mb-6 h-max items-center">
                    <span
                        class="material-symbols-outlined text-blue-600 text-6xl"
                    >
                        add_task
                    </span>
                    <h1
                        class="text-white ml-6 font-normal text-2xl md:text-xl xl:text-3xl tracking-wide"
                    >
                        Research multiple financial automation tools and choose
                        one that aligns best with your business needs
                    </h1>
                </div>
                <div data-aos="fade-up"
                data-aos-duration="700" class="flex mb-6 h-max items-center">
                    <span
                        class="material-symbols-outlined text-blue-600 text-6xl"
                    >
                        add_task
                    </span>
                    <h1
                        class="text-white ml-6 font-normal text-2xl md:text-xl xl:text-3xl tracking-wide"
                    >
                        Ensure data security and compliance measures
                    </h1>
                </div>
            </div><div
            data-aos="fade-up"
                data-aos-duration="700" class="flex mb-10 h-max items-center">
                <span class="material-symbols-outlined text-blue-600 text-6xl">
                    add_task
                </span>
                <h1
                    class="text-white ml-6 font-normal text-2xl md:text-xl xl:text-3xl tracking-wide"
                >
                    Integrate with existing systems and infrastructure
                </h1>
            </div>
            <hr class="mb-10" />
        </div>
        <div class="lg:ext-left mx-auto">
            <h1 data-aos="fade-up"
            data-aos-duration="500" class="text-white font-bold text-4xl mb-6">
                Benefits of finance automation
            </h1>
            <div data-aos="fade-up"
                data-aos-duration="700" class="flex mb-6 h-max items-center">
                <span class="material-symbols-outlined text-green-600 text-6xl">
                    check_circle
                </span>
                <h1
                    class="text-white ml-6 font-normal text-2xl md:text-xl xl:text-3xl tracking-wide"
                >
                    Reduced manual effort
                </h1>
            </div>
            <div data-aos="fade-up"
                data-aos-duration="700" class="flex mb-6 h-max items-center">
                <span class="material-symbols-outlined text-green-600 text-6xl">
                    check_circle
                </span>
                <h1
                    class="text-white ml-6 font-normal text-2xl md:text-xl xl:text-3xl tracking-wide"
                >
                    Improved accuracy in financial processes
                </h1>
            </div>
            <div data-aos="fade-up"
                data-aos-duration="700" class="flex mb-6 h-max items-center">
                <span class="material-symbols-outlined text-green-600 text-6xl">
                    check_circle
                </span>
                <h1
                    class="text-white ml-6 font-normal text-2xl md:text-xl xl:text-3xl tracking-wide"
                >
                    Enhanced operational efficiency
                </h1>
            </div>
            <div data-aos="fade-up"
                data-aos-duration="700" class="flex mb-6 h-max items-center">
                <span class="material-symbols-outlined text-green-600 text-6xl">
                    check_circle
                </span>
                <h1
                    class="text-white ml-6 font-normal text-2xl md:text-xl xl:text-3xl tracking-wide"
                >
                    Better adherence to regulatory requirements
                </h1>
            </div>
        </div><div data-aos="fade-up"
        data-aos-duration="700" class="flex mb-10 h-max items-center">
            <span class="material-symbols-outlined text-green-600 text-6xl">
                check_circle
            </span>
            <h1
                class="text-white ml-6 font-normal text-2xl md:text-xl xl:text-3xl tracking-wide"
            >
                Lower risk of compliance penalties
            </h1>
        </div>
        <div
        data-aos="fade-up"
                data-aos-duration="700" class="flex mb-10 h-max items-center">
            <span class="material-symbols-outlined text-green-600 text-6xl">
                check_circle
            </span>
            <h1
                class="text-white ml-6 font-normal text-2xl md:text-xl xl:text-3xl tracking-wide"
            >
                Real-time financial insights enabling agile decision-making
            </h1>
        </div>
        <hr class="mb-10" />
        <div class="lg:ext-left mx-auto">
            <h1 data-aos="fade-up"
            data-aos-duration="500" class="text-white font-bold text-4xl mb-6">
                Overcoming challenges in implementing finance automation
            </h1>
            <table data-aos="fade-up"
            data-aos-duration="700" class="border-white text-white border">
                <tr>
                    <th class="px-4 border border-white">Challenges</th>
                    <th class="px-4">Overcoming Strategies</th>
                </tr>
                <tr>
                    <td class="px-4 border border-white"
                        >Resistance to change among employees</td
                    >
                    <td class="px-4 border border-white"
                        >Communicate the benefits of automationInvolve employees
                        in the implementation processProvide comprehensive
                        training and support</td
                    >
                </tr>
                <tr>
                    <td class="px-4 border border-white"
                        >Integration issues with existing systems</td
                    >
                    <td class="px-4 border border-white"
                        >Evaluate compatibility between automation tools and
                        existing softwareCollaborate with finance and IT
                        teamsEnsure seamless integration for streamlined
                        processes</td
                    >
                </tr>
                <tr>
                    <td class="px-4 border border-white"
                        >Data security and privacy concerns</td
                    >
                    <td class="px-4 border border-white"
                        >Implement robust cybersecurity protocolsEncrypt
                        financial data and establish user access controlsConduct
                        regular audits and vulnerability assessments</td
                    >
                </tr>
            </table>
            <hr class="mb-10">
            <hr/>
            <h1 data-aos="fade-up"
            data-aos-duration="700" class="text-white font-bold text-4xl mt-10 mb-6">
                Whats Next?
            </h1>
            <a
            href="/apautomation"
            class="relative flex h-11 w-full items-center justify-center px-6 before:absolute before:inset-0 before:rounded-full before:bg-blue-600 before:transition before:duration-300 hover:before:scale-105 active:duration-75 active:before:scale-95 sm:w-max"
          >
            <span class="relative text-base font-semibold text-white"
              >AP Automation</span
            >
          </a>
        </div>
    </Container>
</div>
