<div class="swiper mb-10">
  <!-- Additional required wrapper -->
  <div class="swiper-wrapper">
      <!-- Slides -->
      <div class="swiper-slide text-white"><img src="../images/assets/login.png" alt="" class="rounded-2xl"></div>
      <div class="swiper-slide text-white"><img src="../images/assets/grafik.png" alt="" class="rounded-2xl"></div>
      <div class="swiper-slide text-white"><img src="../images/assets/documentupload.png" alt="" class="rounded-2xl"></div>
      <!-- Add more slides as needed -->
  </div>
  <!-- If we need pagination -->
  <div class="swiper-pagination"></div>

  <!-- If we need navigation buttons -->
  <div class="swiper-button-prev"></div>
  <div class="swiper-button-next"></div>
</div>

<script is:inline>
  const swiper = new Swiper('.swiper', {
      // Optional parameters
      direction: 'horizontal',
      loop: true,

      autoplay: {
          delay: 3000, // Delay antara perpindahan slide (dalam milidetik)
          disableOnInteraction: false, // Tetapkan false agar autoplay tidak dihentikan setelah interaksi pengguna (default true)
      },

      // Effect
      effect: 'coverflow',
      coverflowEffect: {
          rotate: 0, // No rotation
          depth: 200, // Depth of the effect
          modifier: 1, // Effect multiplier, allow to change intensity of the effect
      },

      // Limit number of slides visible in the swiper
      slidesPerView: 1,
      spaceBetween: 30,

      // Highlight current slide
      centeredSlides: true,
      slideToClickedSlide: true,

      // If we need pagination
      pagination: {
          el: '.swiper-pagination',
      },

      // Navigation arrows
      navigation: {
          nextEl: '.swiper-button-next',
          prevEl: '.swiper-button-prev',
      },

      // And if we need scrollbar
      scrollbar: {
          el: '.swiper-scrollbar',
      },
  });
</script>

<style>
  .swiper-slide {
      overflow: hidden; /* Mengatur overflow untuk menghindari gambar blur meluas ke luar slide */
  }
  .swiper-slide img {
      transition: filter 0.3s ease; /* Animasi efek blur */
  }
  .swiper-slide:not(.swiper-slide-active) img {
      filter: blur(5px); /* Blur gambar pada slide yang tidak aktif */
  }
</style>