---
import Container from "./Container.astro";

---

<div id="solution">
    <Container>
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="w-6 h-6 text-sky-500">
        <path fill-rule="evenodd" d="M2.25 13.5a8.25 8.25 0 018.25-8.25.75.75 0 01.75.75v6.75H18a.75.75 0 01.75.75 8.25 8.25 0 01-16.5 0z" clip-rule="evenodd" />
        <path fill-rule="evenodd" d="M12.75 3a.75.75 0 01.75-.75 8.25 8.25 0 018.25 8.25.75.75 0 01-.75.75h-7.5a.75.75 0 01-.75-.75V3z" clip-rule="evenodd" />
      </svg>
      
      <div class="space-y-6 justify-between text-gray-600 lg:flex flex-row-reverse md:gap-6 md:space-y-0 lg:gap-12 lg:items-center">
        <div class="lg:w-1/2 flex justify-center mb-10 lg:flex lg:justify-end">
          <img
            src="./images/assets/percentage.png"
            alt="image"
            loading="lazy"
            width=""
            height=""
            class="h-40 md:h-52"
          />
        </div>
        <div class="md:7/12 lg:w-1/2 md:mt-10">
          <h2 class="text-3xl font-bold text-white tracking-wide md:text-4xl">
            50% of B2B payment activities worldwide will be processed and carried out automatically without manual intervention
          </h2>
          <p class="my-8 text-blue-600 dark:text-gray-300">
            50% of business-to-business invoices worldwide will be processed and paid without manual intervention
          </p>
        </div>
      </div>
    </Container>
</div>