---
import Container from "./Container.astro";
---

<div class="relative py-16">
  <div
    aria-hidden="true"
    class="absolute inset-0 h-max w-full m-auto grid grid-cols-2 -space-x-52 opacity-40 dark:opacity-20"
  >
    <div
      class="blur-[106px] h-56 bg-gradient-to-br from-primary to-purple-400 dark:from-blue-700"
    >
    </div>
    <div
      class="blur-[106px] h-32 bg-gradient-to-r from-cyan-400 to-sky-300 dark:to-indigo-600"
    >
    </div>
  </div>
  <div class="text-gray-600 dark:text-gray-300" id="testimonials">
    <Container>
      <div
        data-aos="fade-up"
        data-aos-duration="500"
        class="w-full h-max flex justify-center items-center mb-4 md:mt-10"
      >
        <h2
          class="text-center text-2xl font-bold text-white tracking-wide md:text-4xl"
        >
          Some Of Our Satisfied <span class="bg-blue-600 px-1 py-1"
            >Customers</span
          >
        </h2>
      </div>
      <div
        class="w-full h-max grid justify-items-center gap-2 pl-6 py-5 mb-12 px-6 md:flex md:justify-center md:items-center md:gap-8 lg:gap-16 lg:flex lg:justify-center lg:items-center"
      >
        <div data-aos="fade-up"
        data-aos-duration="800" class="p-4 flex relative">
          <img
            src="./images/clients/kraftheinz.png"
            class="h-10 w-60 m-auto cursor-pointer"
            loading="lazy"
            alt="client logo"
            width=""
            height=""
          />
        </div>
        <div data-aos="fade-up"
        data-aos-duration="800" class="p-4 relative">
          <img
            src="./images/clients/ubcmedicalnew.png"
            class="h-28 w-[6.7rem] m-auto cursor-pointer"
            loading="lazy"
            alt="client logo"
            width=""
            height=""
          />
        </div>
        <div data-aos="fade-up"
        data-aos-duration="800" class="p-4 flex relative">
          <img
            src="./images/clients/bkpm.png"
            class="h-28 w-48 m-auto cursor-pointer"
            loading="lazy"
            alt="client logo"
            width=""
            height=""
          />
        </div>
        <div data-aos="fade-up"
        data-aos-duration="800" class="p-4 relative">
          <img
            src="./images/clients/umilia.png"
            class="h-32 w-24 m-auto cursor-pointer"
            loading="lazy"
            alt="client logo"
            width=""
            height=""
          />
        </div>
      </div>
      <div data-aos="fade-up"
      data-aos-duration="500" class="mb-20 space-y-4 px-6 md:px-0 relative">
        <h2
          class="text-center text-2xl font-bold text-white tracking-wide md:text-4xl"
        >
          Share Your Love Here
        </h2>
      </div>
      <div class="columns-auto relative gap-8 space-y-8">
        <div
        data-aos="fade-up"
        data-aos-duration="700" class="aspect-auto p-8 border border-gray-100 rounded-3xl bg-white dark:bg-gray-800 dark:border-gray-700 shadow-2xl shadow-gray-600/10 dark:shadow-none"
        >
          <div class="flex gap-4">
            <img
              class="w-12 h-12 border border-blue-600 rounded-full"
              src="./images/avatars/avatar.svg"
              alt="user avatar"
              width="200"
              height="200"
              loading="lazy"
            />
            <div>
              <h6 class="text-lg font-medium text-gray-700 dark:text-white">
                Afrizal Rajab
              </h6>
              <p class="text-sm text-gray-500 dark:text-gray-300">
                Senior Information Technology - <span class="text-blue-600"
                  >PT UBC Medical Indonesia</span
                >
              </p>
            </div>
          </div>
          <p class="mt-8">
            Excellent service. Quick response, efficient troubleshooting and
            resolution with full explanation of the problem. Gotta love Sentosa!
          </p>
        </div>
        <div
        data-aos="fade-up"
        data-aos-duration="700" class="aspect-auto p-8 border border-gray-100 rounded-3xl bg-white dark:bg-gray-800 dark:border-gray-700 shadow-2xl shadow-gray-600/10 dark:shadow-none"
        >
          <div class="flex gap-4">
            <img
              class="w-12 h-12 border border-blue-600 rounded-full"
              src="./images/avatars/avatar-1.svg"
              alt="user avatar"
              width="200"
              height="200"
              loading="lazy"
            />
            <div>
              <h6 class="text-lg font-medium text-gray-700 dark:text-white">
                Agung Santoso
              </h6>
              <p class="text-sm text-gray-500 dark:text-gray-300">
                Head of finance operations and treasury (Indonesia and
                south east asia) - <span class="text-blue-600"
                  >PT ABC Heinz</span
                >
              </p>
            </div>
          </div>
          <p class="mt-8">
            Sentosa help us in reducing manual process to creates more added
            value activity by leveraging technologies through AP automation for
            continuous improvement.
          </p>
        </div>
      </div>
    </Container>
  </div>
</div>
